@font-face {
    font-family: 'Aspekta';
    src: url(./fonts/Aspekta-400.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aspekta';
    src: url(./fonts/Aspekta-800.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
}

* {
    font-family: 'Aspekta', Helvetica, Arial, sans-serif;
    letter-spacing: 0.02rem;
}

body {
    background: rgb(245, 245, 245);
}

h1, h2, h3 {
    font-size: calc(2rem + 1vw);
    font-weight: 800;
}

p, a, legend, label, input, button {
    font-size: calc(1.2rem);
    line-height: 1.6rem;
}

a {
    text-decoration: none;
    color: rgb(36, 95, 255);
}

a:hover {
    text-decoration: underline;
}

button {
    background: rgb(36, 95, 255);
    color: rgb(255, 255, 255);
    padding: 1rem 1.5rem;
    border: none;
}

button:hover {
    background: rgb(70, 119, 255);
    cursor: pointer;
}

form {
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 40px 0;
}

legend {
    font-weight: 800;
    margin: 0.5rem 0 1rem 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 1rem;
    display: inline;
}

label, input {
    margin: 0.25rem;
    display: block;
}

input {
    border: 1px solid rgb(200, 200, 200);
    background: rgb(250, 250, 250);
    padding: 0.25rem;
}

#page {
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#hero {
    background: url('https://images.unsplash.com/photo-1553570739-330b8db8a925?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
}

.content {
    margin: 20px;
}